.container {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.container div {
    margin: 1rem;

}