.card {
    margin: 1rem;
    height: 15rem;
    border: 2px solid #555;
    color: #333;
    padding: 0.5rem;
    box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.card span{
    margin: 0.5rem;
}

.card span select{
    border:3px solid black;
    border-radius: 5px;
    margin-left: 0.2rem;
}

.card p{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.card button{
    background-color: #fa5151;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    
}

.card button:hover{
    background-color: #fa8a8a;
    border-color: #fff;
}

.card select:hover{
    background-color: #ccc;
    cursor: pointer;
    border-color: #888;
}