.list{
    display: grid;
    gap: 0.2rem;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 0.5rem;
  }
  
  .pagination li a {
    color: #333;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  
  .pagination li.active a {
    background-color: #333;
    color: #fff;
  }

  .pagination li a:hover{
    background-color: #333;
    color: #fff;
  }

.filters select{
    margin: 1rem;
    border-radius: 5px;
}

.filters select:hover{
    border: 2px solid #ddd;
    cursor: pointer;
}
